.content {
  background: #fff;
  padding: 15px;
  .passwordIcon {
    background-image: url('../../assets/images/dot_black.svg');
    width: 90px;
    height: 10px;
    float: left;
    background-size: 10px;
    cursor: pointer;
    margin-top: 6px;
    &:hover {
      background-image: url('../../assets/images/dot_red.svg');
    }
  }
  .starIcon {
    cursor: pointer;
    margin-top: -6px;
  }
  .starHeader {
    width: 40px;
  }
}
